.overflow-disable{
	overflow:hidden;
}
#clipjs{
	display:none;
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:1000;background:inherit;
}
#captureBtn {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index:2;
}

#captureCanvas{
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	overflow:auto;
	border:0;
	z-index:1;
	background:rgba(0,0,0,0.6);
}

#feedControl{
	position: fixed;
    bottom: 0;
    right: 0;
    z-index:2;
}